<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', { title : 'Boulevard' }) %>
  <body class="about">
    <%- include('./partials/header') %>

    <section class="about-section">
      <div class="container">
        <div class="row clearfix">
          <!--Content Column-->
          <div class="content-column col-md-6 col-sm-12 col-xs-12">
            <div class="inner-column">
              <div class="sec-title">
                <div class="title">Boulevard</div>
                <h1>Somos la librería online lider de Latam</h1>
              </div>
              <div class="text">
                Somos la librería lider online de ventas minoristas. Estamos
                activos desde 2022 y Nuestros servicios incluyen la venta y pronto
                podrás formar parte del mundo editorial con la posibilidad de la
                autopublicación de tus historias originales.
                Pasate por nuestro catálogo y mirá las ofertas imperdibles que tenemos para vos
              </div>

              <a href="/products" class="theme-btn btn-style-three">Ver más</a>
            </div>
          </div>

          <!--Image Column-->
          <div class="image-column col-md-6 col-sm-12 col-xs-12">
            <div
              class="inner-column"
              data-wow-delay="0ms"
              data-wow-duration="1500ms"
            >
              <div class="image">
                <img
                  src="https://i.pinimg.com/originals/34/56/3e/34563eea771cb142f1eff7e52384c27b.jpg"
                  alt=""
                />
                <div class="overlay-box">
                  <div class="year-box">
                    <span class="number">1</span>En venta minorista -
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-section">
      <div class="container">
        <div class="row clearfix">
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                  <div class="sec-title">
                    <div class="title">Quienes somos</div>
                  <h2>Nuestra misión</h2>
                  </div>
                  <div class="text">
                    Este diseño ha sido construído como parte
                    de una práctica con Digital House & Fundación Formar. Tenemos la
                    convicción de que con disciplina y oportunidades se puede lograr
                    cualquier cosa. 
                  </div>
    
                
                </div>
              </div>
            
        </div>
      </div>
    </section>

    <div class="container-about">
      <div class="card-about">
        <div class="header-about">
          <img src="https://static.vecteezy.com/system/resources/previews/002/788/713/original/woman-sitting-with-laptop-concept-illustration-for-working-studying-education-work-from-home-healthy-lifestyle-can-use-for-backgrounds-infographics-hero-images-flat-illustration-vector.jpg" alt="">
        </div>
        <div class="descr">
          <h2>Noelia</h2>
          <p>Noelia Romina Acosta, 24 años. Tec. Superior en Desarrollo de Software. Programación Fullstack Digital House</p>
        </div>
      </div>
      
      <div class="card-about">
        <div class="header-about">
          <img src="https://cdni.iconscout.com/illustration/premium/thumb/man-sitting-at-cafe-working-on-a-laptop-2931900-2464106.png" alt="">
        </div>
        <div class="descr">
          <h2>Cristian</h2>
          <p>Cristian Piuca, 26 años. Programación Fullstack Digital House para el Desarrollo de aplicaciones web.</p>
        </div>
      </div>
      
      <div class="card-about">
        <div class="header-about">
          <img src="https://img.freepik.com/free-vector/woman-lies-with-laptop-armchair-concept-illustration-working-studying-education-work-from-home_186332-504.jpg?size=626&ext=jpg" alt="">
        </div>
        <div class="descr">
          <h2>Virginia</h2>
          <p>Juana Virginia Alvarado, 28 años. Licenciatura en Artes Visuales, UNT. Programación Fullstack Digital House</p>
        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
