<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', { title : 'Novedades | Boulevard' }) %>
  <body class="newsteller">
    <%- include('./partials/header', {user: user}) %>
    <div class="main__wrapper">
      <main>
        <h1>· Novedades Boulevard ·</h1>
        <aside>
          <div>
            <div class="date">Agosto 2022</div>
            <div class="edition">Enterate acá</div>
          </div>
        </aside>
        <h2 class="title--large main-title">
         La feria de editores 2022 fue todo un éxito
        </h2>
        <div class="main-text multi-column">
          <p>
            Sometimes, Internet users land themselves in an uncommon situation
            where an app or website can be used for both work and personal
            situations. Well, a young front-end designer was spending up to 13
            hours on the site, Codepen for work and her hobby, which
            unfortunately, is also coding.
          </p>
          <p>
            The designer, whose work includes a <em>To-Do Terrarium</em>,
            clarified, "Well, I didn't <em> have </em>to use it for work but it
            was already part of my workflow. It just made sense as it was more
            efficient." The biggest issue, she said, is that she would hop on
            Codepen for work, but would get distracted by pens made by others in
            the community for unexpectedly long periods of time, which then
            causes her to spend even more time on the site.
          </p>
          <p>
            "I mean, that's terrible right?" she asked. Codepen, which brands
            itself as the best place to build, test, and discover front-end
            code, has declined to comment at this time.
          </p>
        </div>
        <a
          class="terrarium"
          href="/"
          target="_blank"
        >
          <figure>
            <img
              src="https://i0.wp.com/www.ernestojerardo.com/wp-content/uploads/2022/07/3-3.jpeg?w=1600&ssl=1"
            />
            <figcaption>
              A to-do list that grows succulents when you've completed a task
            </figcaption>
          </figure></a
        ><a
          class="item-with-image plan span--2 long--2"
          href="/"
          target="_blank"
          ><img
            src="https://img.freepik.com/free-photo/closeup-shot-woman-working-studying-from-home-with-red-coffee-cup-nearby_181624-19822.jpg?w=740&t=st=1659978897~exp=1659979497~hmac=6d88c158bef8080ce6da24a67e9de84e5bb88444ef204730af003ff1cb145760"
          />
          <h4>Can you get inspired to make your own floor plans?</h4>
          <div class="multi-column">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eveniet, 
                adipisci laudantium quas aspernatur reiciendis incidunt voluptate maiores assumenda iste quisquam
                 suscipit dolore tenetur voluptas dolorum earum rem porro nisi.
                 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe laudantium obcaecati incidunt odio voluptas tenetur 
                 distinctio eveniet facilis aut nihil ea aliquid, in maxime corporis eum, voluptates illum ut quas.
             
           
            </p>
          </div></a
        ><a
          class="item-with-image pasta with-border"
          href="/"
          target="_blank"
        >
          <h4>A pasta menu</h4>
          <p>
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam rerum nam praesentium, inventore facilis culpa fugiat 
           optio id sint nemo, sed, vero aperiam quod officiis. Saepe voluptatum dolorem sint impedit.
          </p></a
        ><a
          class="item-with-image magazine with-border"
          href="/"
          target="_blank"
        >
          <h4>Marvel at a magazine</h4>
          <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad totam, obcaecati veritatis ex vero quas beatae sapiente ipsum 
           debitis reiciendis enim ea nobis, fugiat exercitationem dolorum placeat laborum culpa! Explicabo.
          </p></a
        ><a
          class="item-with-image style"
          href="/"
          target="_blank"
        >
          <h4>Cassandra Clare prepara nuevo libro</h4>
          <p>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         Eum tenetur nesciunt, expedita <em>possimus cumque</em> ex reprehenderit illum voluptatibus
          aspernatur modi quos praesentium, <em>sequi beatae soluta</em>, quidem necessitatibus! Mollitia, atque vero?
          </p></a
        ><a
          class="item-with-image toggles"
          href="/"
          target="_blank"
          ><img
            src="https://imgs.search.brave.com/z3W0dSG7GB-Jo3lxnidPKVUt7xynT5l40Gvky4U6BL8/rs:fit:1024:682:1/g:ce/aHR0cDovL2xja2lu/Z3Njb3VyaWVyLm5l/dC93cC1jb250ZW50/L3VwbG9hZHMvMjAx/Ni8wNC9jYXNzYW5k/cmEtY2xhcmUuanBn"
          />
         
          <p>
            Eight playful toggles to toggle on and off for your amusement. Is it
            possible to use these on your site and still adhere to assessibility
            rules? No. But there's a really cute dog one you <em>have </em>to
            see.
          </p></a
        ><a
          class="menu"
          href="/"
          target="_blank"
        >
          <figure>
            <img
              src="https://cinemacomrapadura.com.br/imagens/2020/05/20200514-percy-jackson.jpg"
            />
            <figcaption>Nuevo live action de Percy Jackson saldrá de la mano de Disney</figcaption>
          </figure>
          
          </a
          
        ><a
          class="social"
          href="/"
          tagrget="_blank"
          ><img
            class="social__image"
            src="https://cdn.abcotvs.com/dip/images/6817211_100620-wabc-rick-riordan-book-img.jpg?w=1600"
          />
          <div class="social__subtitle">En exclusiva</div>
          <div class="social__content">
            Entrevista con Rick Riordan antes del estreno del nuevo Live Action de "Percy Jackson"
          </div></a
        >
        <div class="item-with-image cssgrid-collection">
          <a
            class="cssgrid-collection__image"
            href="/"
            target="_blank"
            ><img
              src="https://img.freepik.com/free-photo/front-view-composition-with-different-books_23-2148851051.jpg?w=740&t=st=1659979577~exp=1659980177~hmac=6a997d2cd796305f45fe3de1a807e3f35b4a382a5fb8893fca38b505c63e58f7"
          /></a>
          <div class="cssgrid-collection__content">
            <h4>
              <a href="https://codepen.io/collection/DQvYpQ" target="_blank"
                >More CSS Grid things like this one. Shelves, coupons and more!
              </a>
            </h4>
            <div class="multi-column-3">
              <p>
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eveniet, 
               adipisci laudantium quas aspernatur reiciendis incidunt voluptate maiores assumenda iste quisquam
                suscipit dolore tenetur voluptas dolorum earum rem porro nisi.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe laudantium obcaecati incidunt odio voluptas tenetur 
                distinctio eveniet facilis aut nihil ea aliquid, in maxime corporis eum, voluptates illum ut quas.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla excepturi, molestiae pariatur quas aliquid nemo harum vero modi omnis, aspernatur 
              expedita officia quos velit inventore natus? Nisi tempora odit doloremque?
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste neque alias temporibus quae porro inventore aliquam reiciendis! Ea nesciunt dolore
               reiciendis aperiam minus quae unde repellendus nemo totam quis!
              </p>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <h3 class="title--big">Este mes</h3>
          <a
            class="codepen-item pie"
            href="#"
            target="_blank"
            ><img
              class="pie__image"
              src="https://imagessl1.casadellibro.com/a/l/t7/01/9788413144801.jpg"
            />
            <div class="pie__subtitle">Descuentos</div>
            <div class="pie__content">
              <h4>Pies for everyone!</h4>
              <p>
                No man is left behind. There's infinite pie with this one div
                and a repeating background.
              </p>
            </div></a
          ><a
            class="sidebar-item captcha"
            href="/"
            target="_blank"
          >
            <h5>Frustrated designer runs amok with Captcha ideas</h5>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ipsum quos at reiciendis, non quo,
              fuga aut sequi voluptatem delectus optio molestiae velit quia. Doloremque recusandae possimus 
              laborum culpa ratione!
            </p></a
          ><a
            class="sidebar-item slack-ui with-border"
            href="/"
            target="_blank"
          >
            <h5>Slack UI gets reverse engineered</h5>
            <p>
              Another valiant effort to reverse engineer a web app. However, the
              UI is repurposed to showcase Codepens instead of mock
              conversations. This is a codepen showcase inception situation.
            </p></a
          ><a
            class="workout"
            href="/products"
            target="_blank"
          >
            <div class="workout__image">
              <img
                src="https://img.freepik.com/free-vector/novelist-writing-concept-illustration_114360-2675.jpg?w=740&t=st=1659979177~exp=1659979777~hmac=2910e2863c2dd0b56ca0d548f1fc05ca835a43a53a60a70887ddbdcd1423b4cc"
                alt="Workout"
              />
            </div>
            <div class="workout__blurb">
            ¿Buscando nuevas lecturas?
            </div>
            <div class="workout__title">Mira acá!</div></a
          >
        </div>
      </main>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
