<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {
        title : 'product add'
    }) %> 
<body class="productAdmin">
    <%- include('./partials/header') %> 

    <main>
        <section>
            <h1>Editar Producto</h1>
            <hr>
            <form method="POST" action="">
                <article>
                    <div class="productAdmin__form-box">
                        <label for="name">Nombre del producto</label>
                        <input class="productAdmin__form-input" type="text" id="name" name="name" value="">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="author">Autor</label>
                        <input class="productAdmin__form-input" type="text" id="author" name="author" value="">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="price">Precio</label>
                        <input class="productAdmin__form-input" type="text" id="price" name="price" value="">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="category">Categorias</label>
                        <select class="productAdmin__form-select" name="category" id="category">
                            <option value="" hidden selected>Selecciona la categoría...</option>
                            <option value="category">Juvenil</option>
                            <option value="category">Adulto</option>
                            <option value="category">New Adult</option>
                            <option value="category">Infantil</option>
                            <option value="category">Divulgación</option>
                            <option value="category">Autoayuda</option>
                              <option value="category">Cocina</option>
                        </select>
                       
                </div>
                    <div class="productAdmin__form-box">
                        <label for="year">Año</label>
                        <input class="productAdmin__form-input" type="text" id="year" name="year" value="">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="idioma">Idioma</label>
                        <input class="productAdmin__form-input" type="text" id="language" name="language" value="">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="pages">Paginas</label>
                        <input class="productAdmin__form-input" type="text" id="pages" name="pages" value="">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="type">Formato</label>
                        <select class="productAdmin__form-select" name="format" id="format">
                            <option value="" hidden selected>Selecciona el formato</option>
                            <option value="category">Rústica</option>
                            <option value="category">Blanda</option>
                            <option value="category">Audiolibro</option>
                             <option value="category">Otro</option>
                            
                        </select>
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="year">Editorial</label>
                        <input class="productAdmin__form-input" type="text" id="editorial" name="editorial" value="">
                    </div>
                    <div class="productAdmin__form-box">
                        <label for="description">Descripción del producto</label>
                        <textarea class="productAdmin__form-input" name="description" id="description" ></textarea>
                    </div>
                     <div class="productAdmin__form-box">
                        <label for="image">Imagen del producto</label>
                        <input class="productAdmin__form-input" type="file" id="img" name="img" value="">
                    </div>
                   
         
                    
                  
                </article>
               
            <a href="#"><button class="btnAdmin" type="submit">Guardar</button></a> 
              
                    <button class="btnAdmin" type="reset">Cancelar</button>
               
            </form>
        </section>

    </main>


    <%- include('./partials/footer') %> 
</body>
</html>