<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {
        title : 'register'
    }) %> 
<body class="body-register">
  
    <%- include('./partials/header') %> 
    <!-- formulario -->
    <main class="register-design">


        <div class="register__container">
            <div class="register-info-container">

                <h2>Registrate</h2>
                <form action="" class="inputs-container">
                    <p class="p-input">Tu nombre</p>
                    <input type="text" class="input" name="name-reg" id="name-reg">
                    <p class="p-input">Tu email</p>
                    <input type="text" class="input" name="email-reg" id="email-reg">
                    <p class="p-input">Tu contraseña</p>
                    <input type="password" class="input" name="password-reg" id="password-reg">
                    <p class="p-input">Repetir contraseña</p>
                    <input type="password" class="input" name="password-reg" id="password-reg">
                   
                    <div class="terminoss">
                        <input type="checkbox" name="terminos-reg" id="terminos-reg">
                     <label for="terminos-reg">Acepto términos y condiciones</label> 
                     </div>
                    
                    
                    <div class="footer-register">
                        <button class="button-reg"><a href="/">Registrate</a></button>
                        <a href="/login">
                            <p>¿Ya tenés cuenta?</p>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="background">
            <img src="/images/register-noe.webp" alt="toy story" class="toy1">
        </div>



  
    </main>
  
    
   
    <%- include('./partials/footer') %> 
</body>

</html>