

 .admin body {
   line-height: 1.5;
   min-height: 100vh;
   font-family: "Be Vietnam Pro", sans-serif;
   background-color: var(--c-background-secondary);
   color: var(--c-text-primary);
 }
 
 .admin img {
   display: block;
   max-width: 100%;
 }
 
 .admin :focus {
   outline: 0;
 }
 
 .responsive-wrapper {
  width: 100%;
  padding: 10px;
}
 
 .admin .header {
   display: flex;
   align-items: center;
   height: 80px;
   border-bottom: 1px solid var(--c-border-primary);
   background-color: var(--c-background-primary);
 }
 
 .admin .header-content {
   display: flex;
   align-items: center;
 }
 .admin .header-content > a {
   display: none;
 }
 .admin .card-grid th{
   width: 25%;
   flex-wrap: wrap;
   
 }
 .content-main tbody tr:hover{
  background-color: #ecf3fe;
 }
 @media (max-width: 1200px) {
   .admin .header-content {
     justify-content: space-between;
   }
   .admin .header-content > a {
     display: inline-flex;
   }
 }
 

 
 .admin .header-navigation {
   display: flex;
   flex-grow: 1;
   align-items: center;
   justify-content: space-between;
 }
 
 @media (max-width: 1200px) {
   .admin .header-navigation {
     display: none;
   }
 }
 
 .admin .header-navigation-links {
   display: flex;
   align-items: center;
 }
 .admin .header-navigation-links a {
   text-decoration: none;
   color: var(--c-text-action);
   font-weight: 500;
   transition: 0.15s ease;
 }
 .admin .header-navigation-links a + * {
   margin-left: 1.5rem;
 }
 .admin .header-navigation-links a:hover, .header-navigation-links a:focus {
   color: var(--colorVerdeOscuro);
 }
 
 .admin .header-navigation-actions {
   display: flex;
   align-items: center;
 }
 .admin .header-navigation-actions > .avatar {
   margin-left: 0.75rem;
 }
 .admin .header-navigation-actions > .icon-button + .icon-button {
   margin-left: 0.25rem;
 }
 .header-navigation-actions > .button + .icon-button {
   margin-left: 1rem;
 }
 
 .admin .button {
   font: inherit;
   color: inherit;
   text-decoration: none;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 0 1em;
   height: 40px;
   border-radius: 8px;
   line-height: 1;
   border: 2px solid var(--c-border-primary);
   color: var(--c-text-action);
   font-size: 0.875rem;
   transition: 0.15s ease;
   background-color: var(--c-background-primary);
 }
 .admin .button i {
   margin-right: 0.5rem;
   font-size: 1.25em;
 }
 .admin .button span {
   font-weight: 500;
 }
 .admin .button:hover, .button:focus {
   border-color: var(--colorVerdeOscuro);
   color: var(--colorVerdeOscuro);
 }
 
 .admin .icon-button {
   font: inherit;
   color: inherit;
   text-decoration: none;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 8px;
   color: var(--c-text-action);
   transition: 0.15s ease;
 }
 .admin .icon-button i {
   font-size: 1.25em;
 }
 .admin .icon-button:focus, .icon-button:hover {
   background-color: var(--c-background-tertiary);
   color: var(--colorVerdeOscuro);
 }
 
 .admin .avatar {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   overflow: hidden;
 }
 
 .admin .main {
   padding-top: 3rem;
 }
 
 .admin .main-header {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
 }
 .admin .main-header h1 {
   font-size: 1.75rem;
   font-weight: 600;
   line-height: 1.25;
 }
 @media (max-width: 550px) {
   .admin .main-header h1 {
     margin-bottom: 1rem;
   }
 }
 
 .admin .search {
   position: relative;
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 340px;
 }
 .admin .search input {
   font: inherit;
   color: inherit;
   text-decoration: none;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 0 1em 0 36px;
   height: 40px;
   border-radius: 8px;
   border: 2px solid var(--c-border-primary);
   color: var(--c-text-action);
   font-size: 0.875rem;
   transition: 0.15s ease;
   width: 100%;
   line-height: 1;
 }
 .admin .search input::-moz-placeholder {
   color: var(--c-text-action);
 }
 .admin .search input:-ms-input-placeholder {
   color: var(--c-text-action);
 }
 .admin .search input::placeholder {
   color: var(--c-text-action);
 }
 .admin .search input:focus, .search input:hover {
   border-color: var(--colorVerdeOscuro);
 }
 .admin .search button {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border: 0;
   background-color: transparent;
   position: absolute;
   left: 12px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 1.25em;
   color: var(--c-text-action);
   padding: 0;
   height: 40px;
 }
 
 .admin .horizontal-tabs {
  text-shadow: 0 1px 2px #cccccc, 0 -2px 1px #fff;
   margin-top: 1.5rem;
   display: flex;
   align-items: center;
   overflow-x: auto;
 }
 @media (max-width: 1000px) {
   .admin  .horizontal-tabs {
     scrollbar-width: none;
     position: relative;
   }
  .admin  .horizontal-tabs::-webkit-scrollbar {
     display: none;
   }
 }
 .admin .horizontal-tabs a {
  
   display: inline-flex;
   flex-shrink: 0;
   align-items: center;
   height: 48px;
   padding: 0 0.25rem;
   font-weight: 500;
   color: inherit;
   border-bottom: 3px solid transparent;
   text-decoration: none;
   transition: 0.15s ease;
 }
 .admin .horizontal-tabs a:hover, .horizontal-tabs a:focus, .horizontal-tabs a.active {
   color: var(--colorRosaOscuro);
   border-bottom-color: var(--colorNaranja);
 }
 .admin .horizontal-tabs a + * {
   margin-left: 1rem;
 }
 .admin .vertical-tabs .btnDeleteCategory{
  background-color: transparent;
  border: none;
  color: var(--colorRosaOscuro);
  font-weight: 600;
  text-align: start;
  border-radius: 5px;
  height: 45px;
  width: 200px;
}
.admin .vertical-tabs .btnDeleteCategory:hover{
  background-color: rgba(201, 11, 11, 0.801);
  color: white;
}
 .admin .content-header {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding-top: 3rem;
   margin-top: -1px;
   border-top: 1px solid var(--c-border-primary);
 }
 .admin .content-header-intro{
  text-align: center;
 }
 .admin .content-header-intro h4 {
   font-size: var(--fs-icons);
   font-weight: 600;
 }
 .admin .content-header-intro p {
   color: var(--c-text-secondary);
   font-size: var(--fs-bodytext);
 }
 
 @media (min-width: 800px) {
   .admin  .content-header-actions a:first-child {
     display: none;
   }
 }
 
 .admin .content {
  background-image: url('https://img.freepik.com/foto-gratis/fondo-suelo-textura-madera-beige_53876-104668.jpg?w=740&t=st=1660847914~exp=1660848514~hmac=9e35e693e31b8cc82acb66c18f35387060d301553302e9c2b5d635feb048d1ac');
   border-top: 1px solid var(--c-border-primary);
   margin-top: 2rem;
   display: flex;
   align-items: flex-start;
 }
 
 .admin .content-panel {
   display: none;
   max-width: 280px;
   width: 25%;
   padding: 2rem 1rem 2rem 0;
   margin-right: 3rem;
 }
 @media (min-width: 800px) {
 
   .admin .content-panel {
    background-color: var(--c-background-primary);
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 5px 15px 0 rgb(0 0 0 / 5%);
    border-radius: 8px;
    display: block;
    padding: 15px 0px 0px
px
 27px;
    margin: 22px 0 0px 18px;
}
 }
 
 .admin .vertical-tabs {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
   padding: 5px 0 0 10px;
 }
 .admin .vertical-tabs a {
   display: flex;
   align-items: center;
   padding: 10px;
   background-color: transparent;
   border-radius: 8px;
   text-decoration: none;
   font-weight: 500;
   color: var(--colorRosaBuscador);
   transition: 0.15s ease;
   width: 150px;
 }
 .admin  .vertical-tabs a:hover{
  background-color: var(--c-background-secondary);
   color: var(--colorNaranja);
 }
 .vertical-tabs a + * {
   margin-top: 1rem;
 }
 .vertical-tabs h5{
  color: var(--colorVerdeOscuro);
 }
 .content-main {
  width: 100%;
  margin: 20px;
   flex-grow: 1;
 }
 
 .admin .card-grid {
 display: flex;
 align-items: center;
 justify-content: center;
 }
 
 @media (min-width: 600px) {
 .admin   .card-grid {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 @media (min-width: 1200px) {
   .admin .card-grid {
     grid-template-columns: repeat(3, 1fr);
   }
 }
 
 .admin .card {
   width: 100%;
   background-color: var(--c-background-primary);
   box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
   border-radius: 8px;
   padding: 10px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .pro-container tbody td{
  color: var(--colorNaranja);
  font-weight: 700;
  text-shadow: 0 1px 2px #cccccc, 0 -2px 1px #fff;
 }
 .pro-container tbody td i{
   color: var(--colorVerdeOscuro);
   padding: 6px;
   margin: 5px;
   cursor: pointer;
 }
 .pro-container tbody td button{
  border: none;
  background-color: transparent;
 
 }
 .card-header {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 1.5rem 1.25rem 1rem 1.25rem;
 }
 .card-header div {
   display: flex;
   align-items: center;
 }
 .card-header div span {
   width: 40px;
   height: 40px;
   border-radius: 8px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }
 .card-header div span img {
   max-height: 100%;
 }
 .card-header div h3 {
   margin-left: 0.75rem;
   font-weight: 500;
 }
 
 .toggle span {
   display: block;
   width: 40px;
   height: 24px;
   border-radius: 99em;
   background-color: var(--c-background-quaternary);
   box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
   position: relative;
   transition: 0.15s ease;
 }
 .toggle span:before {
   content: "";
   display: block;
   position: absolute;
   left: 3px;
   top: 3px;
   height: 18px;
   width: 18px;
   background-color: var(--c-background-primary);
   border-radius: 50%;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
   transition: 0.15s ease;
 }
 .toggle input {
   clip: rect(0 0 0 0);
   -webkit-clip-path: inset(50%);
           clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
 }
 .toggle input:checked + span {
   background-color: var(--colorVerdeOscuro);
 }
 .toggle input:checked + span:before {
   transform: translateX(calc(100% - 2px));
 }
 .toggle input:focus + span {
   box-shadow: 0 0 0 4px var(--c-background-tertiary);
 }
 
 .card-body {
   padding: 1rem 1.25rem;
   font-size: 0.875rem;
 }
 
 .card-footer {
   margin-top: auto;
   padding: 1rem 1.25rem;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   border-top: 1px solid var(--c-border-primary);
 }
 .card-footer a {
   color: var(--c-text-action);
   text-decoration: none;
   font-weight: 500;
   font-size: 0.875rem;
 }
 
 html::-webkit-scrollbar {
   width: 12px;
 }
 html::-webkit-scrollbar-thumb {
   background-color: var(--c-text-primary);
   border: 4px solid var(--c-background-primary);
   border-radius: 99em;
 }