

.productDashboard {

  height: 320px;
  border: solid 1px var(--colorVerdeOscuro);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}


.productDashboard .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;

}

.productDashboard a {
  text-decoration: none
}

.productDashboard .data a {
  text-decoration: none;
}

.productDashboard img {
  height: 200px;
  
  display: block;
  padding: 1;
  margin: 0 auto;
  margin-top: 9px;
  margin-bottom: 10px;
  border: solid 1px var(--colorRosaOscuro);
}

.productDashboard h4 {
  text-align: center;
  font-size: 14px;
  color: var(--colorVerdeOscuro);
  font-weight: bold;
  margin: 1px;
  margin-bottom: 10px;
}



.productDashboard h5 {
  position: absolute;
  top: 204px;
  color: var(--colorVerdeOscuro);
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  padding: 1px;
  margin: 0 auto;
  text-align: center;
}

.productDashboard h6 {
  width: 100%;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 200px;
}


  .projects{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  