@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);


.contact  {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1430&q=80');
	background-repeat: no-repeat;
	background-size: cover;
  width: 100%;

}

.container {
  padding: 20px 0;
  line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

 .container  h2{
  color: var(--colorRosaOscuro);
}
 .mapouter{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:100%;
  margin: 20px;
}
.gmap_canvas {

  height:428px;
  width:800px;
}
@media (min-width: 760px) {
   
   .container{
    width: 90%;
   }
    .container #contact input{
        height: 50px;
    }
   
}
@media (min-width: 960px) {
  .mapouter{
    max-width:100%;

  }
  .gmap_canvas {
    min-width:100%;
  }
}
 .container {
  line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  width: 100%;
  margin: 0 auto;
  position: relative;
}

.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.contact .heading h2 span {
  color: var(--colorVerdeOscuro);
}

.contact .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999;
  margin: 20px 0 60px;
  padding: 0;
}

.contact .form-control {
  padding: 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 10px;
}

.contact .button {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background: var(--colorRosaOscuro);
  color: #ffffff;
}
.contact .button:hover{
  background: rgb(160, 96, 96);
}
.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact .title p {
  font-size: 14px;
  font-weight: 600;
  color: #999;
  line-height: 1.6;
  margin: 0 0 40px;
}

.contact .content .info {
  margin-top: 30px;
}
.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: var(--colorVerde);
  margin-right: 20px;
  text-align: center;
  width: 20px;
  transition: all .5s ease;
}
.contact .content .info i:hover{
  color: var(--colorVerdeOscuro);
  transform: scale(1.02);
}
.contact .content .info h4 {
  color: var(--colorVerdeOscuro);
  font-size: var(--fs-subtitle);
  line-height: 1.4;
  font-weight: 600;
}

.contact .content .info h4 span {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
}