
.products .footer{
    position: absolute;
  bottom: 0;
width: 100%;

}
.footer a,i{
    text-decoration: none;
    
}
.footer a:hover{
    color: var(--colorNaranja);
}
.footer .footer-div{
  color:var(--colorCrema);
  text-shadow: 2px 1px 1px rgb(150 150 150 0.9);
    margin: 0 auto;
  padding: 25px 5px;
    background-color: var(--colorVerdeOscuro);
    text-align: center;
}

/*footer-menu-ayuda-legales-direccion*/
.footer-div .footer-menu-container {
    display: none;
}

/*footer-menu-rss and copyright*/
.footer-div .rss-container {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto 2.5px;
}

.footer-div .rss-container-items i {
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: var(--fs-icons);
    font-weight: 400;
}
.footer-div .rss-container-items i:hover{
    color: var(--colorNaranja);
}
.footer-div .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.footer-div .rss-container-items,
.footer-div .copyright {
    font-size: var(--fs-subtitle-sub);


}


@media (min-width: 760px) {
    .footer{
        display: flex;
        justify-content: space-evenly;
    }
    .footer .footer-div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 10px 15px;
        flex-direction: column;
    }
   .footer-div .footer-menu-container {
        margin: 20px 0;
        display: flex;
        justify-content: center;
      
        flex-wrap: wrap;
    }

    .footer-div  .menu-footer-lista {
        width: 180px;
    }

    .menu-footer-title,
    .menu-footer-list-items a,
    .rss-container-items,
    .copyright {
        color: var(--colorCrema);
    }

    .menu-footer-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: var(--fs-subtitle);
        margin-bottom: 10px;

    }

    .menu-footer-list-items {
        text-transform: capitalize;
        font-size: var(--fs-subtitle-sub);
        color: white;
   
    }

    .fa-whatsapp,
    .fa-map-marker-alt,
    .fa-clock,
    .fa-envelope {
        color: var(--color-bg);
       
        margin-right: 5px;
    }

    .rss-container {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
}
@media(min-width:1200px){
   
    .footer .footer-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
     
    }
}