body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
textarea {
   height: 150px;
    resize: none;
    overflow: hidden;
}
h1{

font-family: 'Satisfy', cursive;
}
h2{
    font-family: 'Lobster', cursive;
}
