.header{
    width: 100%;
    padding: 0;
    position: relative;
    background-color: var(--colorRosaOscuro);
}
.header-logo{
    width: 100%;
    
}
.header-logo img{
    height: 76px;
    align-content: center;
    display: block;
    justify-content: center;
    margin: 2px auto;
}

.register-login{
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-right: 5px;
}
.register-login li{
    font-size: 10px;
    margin-right: 1px;
    margin-left: 5px;
    padding: 1px;
    text-decoration: none;
    color: var(--colorVerdeOscuro);
}
.buscador-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    padding: 1px;

}
#search-form{
    width: 80%;
}
 #search{
     display: none;
     width: 80%;
     height: 26px;
     margin: 0 0 0 1%;
     padding: 0;
position: relative;
 }
 .input-search{
     width: 100%;
     height: 25px;
     border-radius: 50px;
     background-color: var(--colorCrema);
     border: none;
     padding-left: 15px;

 }

 .header-search{
     position: absolute;
     right: 0;
     background: none;
     color: rgba(0, 0, 0, 0.5);
     border: none;
     width: 26px;
     font-size: 16px;
     padding: 0;
 }

 .header-cart, .header-menu{
     width: 26px;
     height: 26px;
     margin: 0;
     background: none;
     border: none;
     font-size: 20px;
     color: var(--colorVerdeOscuro);
     text-align: center;
     margin-bottom: 1px;
 }


                                    /******Tablet******/
 @media(min-width:767px){

    .header{
        height: 80px;
        background-color: var( --colorRosaOscuro);
    }

    .header-logo{
    
        left: 3px;
    }
    .header-logo img{
        width: 200px;
        align-content: flex-start;
        display: block;
        justify-content: left;
        margin: 2px 15px;
    }
    .register-login li{
        font-size: 14px;
        margin-left: 15px;
    }
    .buscador-menu{
        position: absolute;
        right: 1px;
        bottom: 0px;
        width: 69%;
    }
    #search{
        display: block;
    }
 }


                                   /******Desktop******/
 @media(min-width:1024px){

    .buscador-menu{
        width: 80%;
    }
  
    .header-cart, .header-menu{
        font-size: 20px;
    }
    #search{
        display: block;
    }
 }