.buscador-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    padding: 1px;
 
}


#search-form {
    display: flex;
    width: 100%;
    justify-content: center;

}

#search {
    display: none;
    position: relative;
    width: 60%;
}
.input-search {
    width: 100%;
    height: 35px;
    border-radius: 50px;
    background-color: var(--colorCrema);
    border: none;
    padding: 18px 13px;
    color: white;
}

.input-search::placeholder{
    color: white;
}
#search i{
    color: var(--colorRosaOscuro);
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.fa-shopping-cart{
    color: var(--colorRosaOscuro);
}
.header-search {
    position: absolute;
    right: 0;
    background: none;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    width: 26px;
    font-size: 16px;
    padding: 0;
}

.header-logo{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 60px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    padding: 10px 80px;
    background: var( --colorRosaBuscador);
}

#header img {
    width: 150px;
    border-radius: 50%;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    padding: 15px;
   }
   .burger-menu i{
           padding: 10px;
        border-radius: 12px;
        font-size: 30px;
        color: var(--colorRosaOscuro);
  
   }
#navbar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

#navbar li {
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    font-size: var(--fs-subtitle);
    font-weight: 600;
    color:var(--colorRosaOscuro);
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
  
}
#navbar li a i{
    font-size: 20px;
}
#navbar li a:hover {
   
    color: var(--colorCrema);
}

@media(min-width:768px){
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
    }
   .burger-menu{
    display: none;
   }
   .input-search {
    height: 25px;
    color: var(--colorRosaBuscador);
   }
}
@media(min-width:900px){
    #header{
        flex-direction: row;
        justify-content: space-between;
    }
   input{
        width: 90%;
      
        border: solid 1px transparent;
        padding: 10px 20px;
        border-radius: 10px;
        outline: none;
        font-size: 14pt;
        transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
       
    }
     input:hover{
        background-color: var(--colorRosaOscuro);
        color: white;
    border: solid 1px #806f8b;
    box-shadow: 0 0 4px #a363ac4f;
    }
    input:focus{
        color: var(--colorRosaOscuro);
        background-color:var(--colorCrema);
        border: solid 1px #a98d9f;
        box-shadow: 0 0 4px #b76cc14f;
    }
}