



.header .buscador-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;
  padding: 1px;
}

#search-form {
  display: flex;
  width: 90%;

}

#search {
  display: none;
  position: relative;
  width: 90%;
}
.input-search {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background-color: var(--colorRosaBuscador);
  padding: 18px 13px;
  color: rgb(194, 194, 194);
}

.input-search::placeholder {
  color: white;
}
input,
select {
  border: solid 1px transparent;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 14pt;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

#search i {
  color: var(--colorCrema);
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.fa-shopping-cart {
  color: var(--colorCrema);
}
.header img {
  width: 100px;
 }
 .header .containerHeader{
  width: 100%;
  margin:auto;
  }
  .roww{
  display: flex;
  flex-wrap: wrap;
  }
  .align-items-center{
  align-items: center;
  }
  .justify-content-between{
  justify-content: space-between;
  }
  /*header*/
  .header{
  background-color: var(--colorRosaOscuro);
  padding: 10px 0;
  line-height: 1.5;

  }
  
  .header .logo,
  .header .nav{
  
  padding:0 15px;
  }
  .header .nav{
    margin: 0 auto;
  }
  .header .logo a{
    margin: 0 20px;
  }
  .header .nav ul li{
    
  display: inline-block;
  margin-left: 40px;
  }
  .header .nav ul li a{
  display: block;
  font-size: 18px;
  text-transform: capitalize;
  color: #ffff;
  padding: 10px 0;
  transition: all 0.5s ease;
  font-weight: 700;
  
  }
  .header .nav ul li a.active,
  .header .nav ul li a:hover{
  color: var(--colorCrema);
  }
  .nav-toggler{
  height: 35px;
  width: 45px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border:none;
  display: none;
  margin-right: 15px;
  }
  .nav-toggler:focus{
  outline: none;
  box-shadow: 0 0 15px rgba(255,255,255,0.5);
  }
  .nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--colorRosaOscuro);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
  }
  .nav-toggler.active span{
  background-color: transparent;
  }
  .nav-toggler span::before,
  .nav-toggler span::after{
  content: '';
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: var(--colorRosaOscuro);
  transition: all 0.3s ease;
  }
  .nav-toggler span::before{
  transform: translateY(-6px);
  }
  .nav-toggler.active span::before{
  transform: rotate(45deg);
  }
  .nav-toggler span::after{
  transform: translateY(6px);
  }
  .nav-toggler.active span::after{
  transform: rotate(135deg);
  }
  @media (min-width: 768px) {

    .header ul li a{
      display: none;
    }
    .header .input-search {
       height: 25px;
       color: var(--colorRosaBuscador);
     }
     
     .header #search-form {
      
       width: 70%;
      
     }
   }
   @media (min-width: 900px) {
   
   
     .header input:focus {
       color: var(--colorRosaOscuro);
       background-color: var(--colorCrema);
       border: solid 1px #a98d9f;
       box-shadow: 0 0 4px #b76cc14f;
     }
   
    
     .header .buscador-menu {
       display: flex;
       width: 100%;
       margin: 10px 0;
       padding: 1px;

       justify-content: flex-end;
   }

   .header #search-form {
      
    width: 100%;
   
  
}
   }
   
  @media(max-width:991px){

    .nav-toggler{
      display: block;
    }
    .header .nav{
      width: 100%;
      padding:0;
      max-height: 0px;
      overflow: hidden;
      visibility: hidden;
      transition: all 0.5s ease;
      margin: 0 auto;
    }
    .header .nav.open{
      visibility: visible;
    }
    .header .nav ul{
      padding:12px 15px 0;
      margin: 12px;
      border-top:1px solid rgba(255,255,255,0.2);
    }
    .header .nav ul li{
      display: block;
      margin:0;
    }
   }
   
   
   
   @media (min-width: 960px) {

    .tooltip{
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
      display: block;
      border-radius: 10px;
      font-size: 12px;
    }

    #user-icon{
      position: relative;
      }
        
      #user-tooltip{
      position: absolute;
      left: -12px;
      top: 100%;
      opacity: 0;
      z-index: 2;
      }
        
      #user-icon:hover #user-tooltip{
      opacity: 1;
      transition: 400ms;
      }
        
      #logout-icon{
      position: relative;
      }
        
      #logout-tooltip{
      position: absolute;
      left: -6px;
      top: 100%;
      opacity: 0;
      z-index: 2;
      }
        
      #logout-icon:hover #logout-tooltip{
      opacity: 1;
      transition: 400ms;
      }
        
      #shop-icon{
      position: relative;
      }
        
      #shop-tooltip{
      position: absolute;
      left: -15px;
      top: 100%;
      opacity: 0;
      z-index: 2;
            
      }
        
      #shop-icon:hover #shop-tooltip{
      opacity: 1;
      transition: 400ms;
      }
    
     .header .buscador-menu {
       width: 70%;
     }
     .header #search-form {
       width:70%
     };
     .header .nav ul{
       margin: 0 auto;
     }
     
       
   }