.contenedor-principalProduct {
    max-width: 100%;
    margin: 0 auto;
    background: #f1ebe5;
}

.contenedor-principalProduct h2 {
    color: var(--colorRosaOscuro);
    margin: 20px 0;
}

.contenedor-principalProduct h1 {

    color: var(--colorVerdeClaro);

    text-align: center;
    display: block;
    margin: 11px 0 17px 0;
    font-size: var(--fs-title-extrabig);
    line-height: 80px;
    color: cornflowerblue;
    text-shadow: 0 10.36px 8.89px #bcaf9b, 0 -2px 1px #fff;
    letter-spacing: -4px;
    margin: 5px 0;
}

.contenedor-products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.product-img {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-img img {
    width: 50%;
}

.product-descripcion {
    margin: 20px auto;
    width: 350px;
}

.product-titulo {
    font-size: 3rem;
    font-weight: 700;
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;


}

.product-precio {
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
}

.precio span {
    color: var(--colorRosaOscuro);
}

.product-detalle {
    margin: 15px 0;
    padding: 15px;
}

.product-detalle p {

    font-size: var(--fs-bodytext);
    padding: 0.3rem;
    opacity: 0.8;
    line-height: 1.5;
}

.product-detalle ul {
    margin: 1rem 0;
    font-size: 14px
}

.product-detalle ul li {
    padding: 5px 0;
    background: #ddd;
    margin: 0;
    list-style: none;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detalle ul li span {
    font-weight: 400;
}

.carrito-compra {
    margin: 1.5rem 0;
}

.carrito-compra input {
    width: 60px;
}

.carrito-compra .buttons {
    display: flex;
}

.carrito-compra .buttonDetail {
    border: 1px solid var(--colorVerdeOscuro);
    padding: 10px;
    margin: 0 8px;
    background-color: var(--color-verde);
    color: var(--colorVerdeOscuro);
    text-align: center;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

.carrito-compra .buttonDetail:hover {
    background-color: var(--colorVerdeOscuro);
    color: white;
}

.carrito-compra .buttonDetail-delete:hover {
    background-color: red;
    border: 1px solid red;
}

.carrito-compra .buttonDetail-delete {
    background-color: var(--color-verde);
    padding: 10px;
    margin: 0 8px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--colorVerdeOscuro);
    transition: 0.3s ease-in;

}

.carrito-compra input,
.carrito-compra .boton,
button {
    border: 1.5px solid #ddd;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.redes-links {
    display: flex;
    align-items: center;
}

.redes-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: var(--colorRosaOscuro);
    border: none;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.redes-links a:hover {
    background: var(--colorVerdeOscuro);
    border: none;
    color: #fff;
}

.redes-links p {
    margin-top: 14px;
    margin-bottom: 1rem;
}

@media (min-width: 769px) {

    .contenedor-products {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .contenedor-principalProduct {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-img {
        padding: 0 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-img img {
        padding: 15px 0;
        margin: 0 auto;
        width: 100%;
    }

}

@media (min-width: 1024px) {


    .product-descripcion {
        padding: 20px;
        width: 90%;
    }

    .product-img {
        width: 90%;
    }

    .product-img img {
        padding: 0;
        width: 80%;
        display: block;
    }

}