.contenedor-principalProduct{
    max-width: 100%;
    margin: 0 auto;
}
.product-img img {
    width: 100%;
    display: block;
}

.product-descripcion {
    padding: 35px 20px;
}

.product-titulo {
    font-size: 3rem;
    font-weight: 700;
    margin: 5px 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
  

}

.product-precio {
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
}

.precio span {
    color: #256eff;
}

.product-detalle h2 {
    padding-bottom: 20px;
}

.product-detalle p {

    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    line-height: 1.5;
}

.product-detalle ul {
    margin: 1rem 0;
    font-size: 14px
}

.product-detalle ul li {
    margin: 0;
    list-style: none;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detalle ul li span {
    font-weight: 400;
}

.carrito-compra {
    margin: 1.5rem 0;
}

.carrito-compra input {
    width: 60px;
}

/* .carrito-compra .boton {
    cursor: pointer;
    color: #fff;
} */
/* 
.carrito-compra .boton:last-of-type {
    background: var(--colorVerdeOscuro)
}

.carrito-compra .boton:hover {
    opacity: 0.9;
}
.carrito-compra button{
    display: flex;
 
} */
.carrito-compra input,
.carrito-compra .boton,button {
    border: 1.5px solid #ddd;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.redes-links {
    display: flex;
    align-items: center;
}

.redes-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.redes-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media (min-width: 769px) {

    .contenedor-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .contenedor-principalProduct{
        height: 150vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
}

@media (min-width: 1024px) {

    .contenedor-principalProduct{
        height: 134vh;
    }

    .product-descripcion{
        padding-top: 0;
    }

    .product-img img {
        width: 83%;
        display: block;
    }

}
