.cart-container{
    width: 80%;
}
.cart-container td{
    font-size: var(--fs-bodytext);
    color: var(--colorVerdeOscuro);
    font-weight: 700;
}
.cart-container span{

    font-size: var(--fs-bodytext);
    color: var(--colorRosaOscuro);
    font-weight: 700;
}
.cart-table{
    width: 100%;
}