.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}
.profile {
    background-color: white;
  
}
.profile h1{
    color: var(--colorNaranja);
    text-shadow: 3px -1px 2px rgba(196,196,196,0.62);
}
.profile .label a{
    text-decoration: none;
    color: white;
}
.profile main  {
    text-align: center;
   
  
}

.profile .userAvatar{

    padding: 15px;
    margin: 15px 0;
}

.profile .userPhoto{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile .userForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;

}

.profile .userInfo {
    display: flex;
    width: 100%;
    background-image: linear-gradient(-225deg, #d1e0fb 0%, #ffe6e6 100%);
    background-image: linear-gradient(to top, #a8edc8 0%, #fed6e3 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 5px 6px 2px grey;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
}
.profile .userInfo div{
    margin: 10px 0;
}
.profile .userInfo h3{
    text-align: center;
   
    color: var(--colorVerdeOscuro);
    font-size: var(--fs-bodytext);
    text-shadow: 3px -1px 2px rgba(196,196,196,0.62);
}


.profile h4 {
    font-size: small;
}

.profile .UserTitleEdit {
    text-align: center;
    margin-top: 10px;
}


.profile .btnUser {
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
background: var(--colorVerdeClaro);
    display: inline-block;
    transition: 0.5s ease-in-out;
}
.profile .btnUser:hover{
    background: var(--colorRosaOscuro);
}
.label input[type="file"] {
        position: absolute;
        top: -1000px;
      }
      .label {
        background-color: var(--colorVerdeOscuro);
        cursor: pointer;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 5px;
        
        display: inline-block;
      }
      .label:hover {
        background: #5cbd95;
      }
     
      .label:active {
    background: #9fa1a0; 
      }
      .label:invalid + span {
        color: red;
      }
      .label:valid + span {
        color: #ffffff;
      }


      .UserEditForm .labelTags{
        text-align: center;
        margin: 20px;
    }
   
@media (min-width:768px) {
    



    .profile .userInfo {
        width: 70%;
    }

    .profile .UserEditForm {
        width: 80%;
    }

}

@media (min-width:1024px){

        .profile .userInfo {
            width: 50%;
        }
    
        .profile .UserEditForm {
            width: 30%;
             background-color: var(--colorVerdeClaro);
        }
        .profile .userInfo h3{
            margin: 18px;
           
            font-size: var(--fs-icons);
        }
    }

