.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
}

.profile {
    background-color: white;
  
}
.profile h1{
    font-size: calc( 1em + 8vmin );
    font-weight: 900;
    color: var(--colorRosaOscuro);
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: rgb(202, 218, 191);
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    transition: 1.5s ease;
}
.profile :hover h1{
    color: var(--colorVerdeClaro);
}
.profile main span{
    display: block;
    color: red;
    font-size: var(--fs-subtitle-sub);
}
.profile .label a{
    text-decoration: none;
    color: white;
}
.profile main small{
    display: block;
}

.profile  .btn-user{
    border-radius: 5px;
    color: white;
    background: var(--colorVerdeOscuro);
    transition: .5s ease;
   
}
.profile  .btn-user:hover{
    background: red;
}
.profile main  {
    text-align: center;
   
}

.profile .userAvatar{

    padding: 15px;
    margin: 15px 0;
}

.profile .userPhoto{
    padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: .4s ease-in;
}
.profile .userPhoto:hover{
    transform: scale(1.2);
    padding: 5px;
    border: 4px dotted #9de9eb;
}
.profile .userForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;

}

.profile .userInfo {
    display: flex;
    width: 80%;
    background-image: linear-gradient(-55deg, #c8feff 0%, #eecfcf 100%);
    background-image: linear-gradient(to top, #a9dec1 0%, #f5f5b8 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 5px 6px 2px rgb(186, 186, 186);
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    transition:  color 1s ease-in;
}
.profile .userInfo h3:hover{
    color: #ffa97d;
}
.profile .userInfo div{
    margin: 10px 0;
  
}
.profile .userInfo label{
    display: block;
}
.profile .userInfo h2{
    color: var(--colorRosaOscuro);
}
.profile .userInfo h3{
    font-family: 'Satisfy', cursive;
    text-align: center;
    color: var(--colorRosaOscuro);
 
    text-shadow: 3px -1px 2px rgba(196,196,196,0.62);
  
}

.profile .userInfo select{
   
    width: 200px;
}
.profile .userInfo .userEdit-input{
   
    width: 200px;
}
.profile form select{
    margin: 5px 0;
}
.profile h4 {
    font-size: small;
}

.profile .UserTitleEdit {
    text-align: center;
    margin-top: 10px;
}


.profile .btnUser {
    
    cursor: pointer;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
background: var(--colorVerdeClaro);
  
    transition: 0.5s ease-in-out;
}
.profile .buttons{
    display:flex;
}
.profile .btnUser:hover{
    background: var(--colorRosaOscuro);
}

      .label {
        background-color: var(--colorVerdeOscuro);
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        margin: 5px;
        transition: 0.5s ease-in-out;
        display: block;
        transition:1s ease-in;
      }
      .label:hover {
        background: #94e4c3;
        transform: scale(1.2);
      }
     
      .label:active {
    background: #9fa1a0; 
      }
      .label:invalid + span {
        color: red;
      }
      .label:valid + span {
        color: #ffffff;
      }


      .UserEditForm .labelTags{
        text-align: center;
        margin: 20px;
    }
   
@media (min-width:768px) {
    



    .profile .userInfo {
        width: 70%;
    }

    .profile .UserEditForm {
        width: 80%;
    }

}

@media (min-width:1024px){

        .profile .userInfo {
            width: 50%;
        }
    
        .profile .UserEditForm {
            width: 30%;
             background-color: var(--colorVerdeClaro);
        }
        .profile .userInfo h3{
            margin: 18px;
           color: white;
            font-size: var(--fs-form);
        }
        .profile .userInfo select, .userEdit-input{
            width: 250px;
           
        }
        
    }

    .modal-window {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.25);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
      }
      .modal-window:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
      .modal-window > div {
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: white;
      }
      .modal-window header {
        font-weight: bold;
      }
      .modal-window h1 {
        font-size: 150%;
        margin: 0 0 15px;
      }
      
      .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
      }
      .modal-close:hover {
        color: black;
      }
      
.modal-window > div {
    border-radius: 10px;
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .btn-user {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
  }
  .btn-user i {
    padding-right: 0.3em;
  }  