.landscape{
      
    height: 650px;
    background: url('../images/landscape.webp');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.h2-result{
    margin-left: 15px;
    color: var(--colorVerdeOscuro);
    font-size: 20px;
}
.result-products{
    background-color: var(--colorCrema);
    border-radius: 20px;
   
}
.box-result{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
}
.box-result h2{
    margin: 25px 10px;
}
.product-result {
    width: 200px;
    margin: 20px 0;
    
}

@media (min-width:768px) {
    .h2-result{
        margin-left: 20px;
        margin-top: 10px;
        font-size: 25px;
    }
 
}

@media (min-width:1024px) {
    .h2-result{
        margin-left: 35px;
        margin-top: 15px;
        font-size: 30px;
    }
   
  
}