.h2-result{
    margin-left: 15px;
    color: var(--colorVerdeOscuro);
    font-size: 20px;
}
.result-products{
    background-color: var(--colorCrema);
    border-radius: 20px;
    
}
.box-result{
    display: flex;
    flex-wrap: wrap;
    justify-content:first baseline;
    width: 96%;
    margin-left: 2%;
}
.product-result {
    width: 200px;
    margin: 20px 0;
}

@media (min-width:768px) {
    .h2-result{
        margin-left: 20px;
        margin-top: 10px;
        font-size: 25px;
    }
 
}

@media (min-width:1024px) {
    .h2-result{
        margin-left: 35px;
        margin-top: 15px;
        font-size: 30px;
    }
  
}