:root {
    --colorRosaOscuro: #af8f89;
    --colorCrema: #ddc9bc;
    --colorRosaBuscador: #d7c1c3;
    --colorVerde: #548662;
    --colorVerdeClaro: #8cbea3;
    --colorVerdeOscuro: #4c6f58;
    --colorNaranja: #ffddbd;
     /*font sizes*/
  --fs-title-extrabig:60px;
  --fs-title-big:40px;
  --fs-title:35px;
  --fs-subtitle1:28px;
  --fs-form: 25px;
  --fs-icons: 22px;
  --fs-bodytext:18px;
  --fs-subtitle:14px;
  --fs-subtitle-sub: 12px; 
}