:root {
    --colorRosaOscuro: #eb9288d4;
    --colorCrema: #fef1e0;
    --colorRosaBuscador: #F5B7B1 ;
    --colorVerde: #b3e1c1;
    --colorVerdeClaro: #d2eadd;
    --colorVerdeOscuro: #83a490;
    --colorNaranja: #ffd0b8df;
    --black: #1f1f31;
	--black--acc: rgb(36, 36, 36);
	--gray: rgb(219, 219, 219);
	--gray-1: #ededed;
     /*font sizes*/
     --fs-title-super-extrabig:85px;
  --fs-title-extrabig:60px;
  --fs-title-big:40px;
  --fs-title:35px;
  --fs-subtitle1:28px;
  --fs-form: 25px;
  --fs-icons: 22px;
  --fs-bodytext:18px;
  --fs-subtitle:14px;
  --fs-subtitle-sub: 12px; 
  /* newsletter */
  --font: "EB Garamond", serif;
	--font-title: "Playfair Display", serif;
	--font-sans-serif: "Manrope", sans-serif;
	
}