.h1_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
  font-family: 'Bree Serif';
  font-size: 75px;
  line-height: 109px;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
}

.h2_login {
  text-align: center;
  font-family: 'Segoe UI Symbol';
  font-weight: 400;
  font-size: 35px;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.contenedor-login {
  padding-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formulario-login {
  background: var(--colorRosaBuscador);
  margin-top: 100px;
  height: 620px;
  width: 100%;
    
}

.check-recordame{
  position: absolute;
  top: 539px;
  left: 220px;
  font-size: 20px;
  font-weight: 700;
}

.button-login {

    font-size: 40px;
    border: none;
    background: var(--colorVerde);
    border-radius: 30px;
    box-shadow: 0 0 7px;
    margin-left: 13px;
    width: 348.53px;
    height: 62px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 99px;
    margin-top: -30px;
     /*palabra ingresar*/
     line-height: 42px;
     text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

}

.passwordOlvidada{
  position: relative;
  top: -38px;
  right: -20px;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: 768px) {

  .contenedor-login{
      align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"]{
  display: flex;
}
.passwordOlvidada{
  right: 65px;
    top: -37px;
}

.check-recordame{
  left: 412px;
}
}

@media (min-width: 1024px) {
  .check-recordame{
    position: relative;
    left: 88px;
    top: -32px;
  }

  .passwordOlvidada{
    position: relative;
    top: -10px;
    left: -61px;
  }
}
