:root {
    --colorRosaOscuro: #f5c4bd;
    --colorCrema: #fcf5ee;
    --colorRosaBuscador: #fceeed;
    --colorVerde: #8eb0a2;
    --colorVerdeClaro: #e6efec;
    --colorVerdeOscuro: #24534e;
    --colorNaranja: #f3dbc3;
    
}