<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Librebria</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/5d30698574.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="header-logo">
            <a href="#"><img src="/images/logo1.png" alt=""></a>
        </div>
        <div class="register-login">
            <li class="register"><a href="/register">Registrarse</a></li>
            <li class="login"><a href="/login">Iniciar Sesión</a></li>
        </div>
        <div class="buscador-menu">
            <nav id="search">
                <input class="input-search" type="text" placeholder="    Buscar">
                <button class="header-search"><i class="fas fa-search"></i></button>
            </nav>
            
            <a href="/product-cart"><button class="header-cart"><i class="far fa-shopping-basket"></i></button></a>
            <a href=""><button class="header-menu"><i class="fas fa-bars"></i></button></a>
            
            
            
        </div>
        
    </header>



    <main class="home-main">
        <section id="banner-top" class="box-banner">
            <img width="100%" src="/images/banner1.jpg" alt="">
        </section>


                                          <!--******CUERPO******-->

     <div id="cuerpo">
         <section id="semana">
            <h2>Destacados de la semana</h2>
             <div class="box-semana">
                <article class="semana">
                    <a href="/product-detail"><img src="/images/popular1.png" alt=""></a>
                    
                       <li>
                           <p>Diario de una temporada en el quinto piso</p>
                       </li>
                       <li>
                           <p>Juan Carlos Torre</p>
                       </li>
               </article>
               <article class="semana">
                   <a href="/product-detail"><img src="/images/popular2.png" alt=""></a>
                
                   <li>
                       <p>La batalla cultural</p>
                   </li>
                   <li>
                       <p>Agustin Laje</p>
                   </li>
               </article>
               <article class="semana">
                   <a href="/product-detail"><img src="/images/popular3.png" alt=""></a>
                
                   <li>
                       <p>Violeta</p>
                   </li>
                   <li>
                       <p>Isabel Allende</p>
                   </li>
               </article>
               <article class="semana">
                   <a href="/product-detail"><img src="/images/popular4.png" alt=""></a>
                
                   <li>
                       <p>El mapa de los anhelos</p>
                   </li>
                   <li>
                       <p>Alice Hellen</p>
                   </li>
               </article>
               <article class="semana">
                   <a href="/product-detail"><img src="/images/popular5.png" alt=""></a>
                
                   <li>
                       <p>Soy una tonta por quererte</p>
                   </li>
                   <li>
                       <p>Camila Sosa Villada</p>
                   </li>
               </article>
               <article class="semana">
                   <a href="/product-detail"><img src="/images/popular6.png" alt=""></a>
                
                   <li>
                       <p>Fleur</p>
                   </li>
                   <li>
                       <p>Ariana Godoy</p>
                   </li>
               </article>
               <article class="semana">
                   <a href="/product-detail"><img src="/images/popular7.png" alt=""></a>
                
                   <li>
                       <p>Roma soy yo</p>
                   </li>
                   <li>
                       <p>Santiago Posteguillo</p>
                   </li>
               </article>
              </div>
            
         </section>
                                       <!--**SECCION 1**-->

         <section id="product-section1" class="product-section">
           <div class="product-gender">
               <h2>Ficción</h2>
            <a href="">ver todo</a>
           </div>
            <div class="product-box">
                <article class="art-product">
                    <div class="product">
                        <a href="/product-detail"><img src="/images/ficcion1.png" alt=""></a>
                        <h4>El día que dejó de nevar en Alaska</h4>
                         <h5>Alice Kellen</h5>
                         <h3 class="product-price">$2790</h3>
                         <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                        
                    </div>
                   
                </article>
                <article class="art-product">
                    <div class="product">
                        <a href="/product-detail"><img src="/images/ficcion2.png" alt=""></a>
                        <h4>Sed</h4>
                         <h5>Amelie Nothomb</h5>
                         <h3 class="product-price">$1750</h3>
                        <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                    </div>
                   
                </article>
                <article class="art-product">
                    <div class="product">
                        <a href="/product-detail"><img src="/images/ficcion3.png" alt=""></a>
                        <h4>El peligro de estar cuerda</h4>
                         <h5>Rosa Montero</h5>
                         <h3 class="product-price">$2500</h3>
                        <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                    </div>
                   
                </article>
                <article class="art-product">
                    <div class="product">
                        <a href="/product-detail"><img src="/images/ficcion4.png" alt=""></a>
                        <h4>El libro más lindo del mundo</h4>
                         <h5>Rosario Oyharte</h5>
                         <h3 class="product-price">$2150</h3>
                        <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                    </div>
                   
                </article>
                <article class="art-product">
                    <div class="product">
                        <a href="/product-detail"><img src="/images/ficcion5.png" alt=""></a>
                       <h4>El mentalista</h4>
                        <h5>Camilla Läckberg</h5>
                        <h3 class="product-price">$3600</h3>
                       <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                   </div>
                </article>
            </div>
         </section>

                                            <!--**BANNER**-->
         <section id="banner2" class="box-banner">
            <img width="100%" src="/images/banner2.jpg" alt="">
         </section>

                                            <!--**SECCION 2**-->
         <section id="product-section2" class="product-section">
            <div class="product-gender">
                <h2>Juvenil</h2>
             <a href="">ver todo</a>
            </div>
             <div class="product-box">
                 <article class="art-product">
                     <div class="product">
                         <a href="/product-detail"><img src="/images/juvenil1.png" alt=""></a>
                         <h4>Perdidos en Nunca Jamás</h4>
                          <h5>Aiden Thomas</h5>
                         <h3 class="product-price">$2200</h3>
                         <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                     </div>
                    
                 </article>
                 <article class="art-product">
                     <div class="product">
                         <a href="/product-detail"><img src="/images/juvenil2.png" alt=""></a>
                         <h4>Anhelo</h4>
                          <h5>Tracy Wollf</h5>
                          <h3 class="product-price">$3100</h3>
                         <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                     </div>
                    
                 </article>
                 <article class="art-product">
                     <div class="product">
                         <a href="/product-detail"><img src="/images/juvenil3.png" alt=""></a>
                         <h4>Un reino de Carne y fuego</h4>
                          <h5>Jennier Armentrout</h5>
                          <h3 class="product-price">$2900</h3>
                         <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                     </div>
                 </article>
                 <article class="art-product">
                    <div class="product">
                        <a href="/product-detail"><img src="/images/juvenil4.png" alt=""></a>
                        <h4>Casa de cielo y aliento</h4>
                         <h5>Sarah Maas</h5>
                         <h3 class="product-price">$3200</h3>
                        <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                    </div>
                </article>
                <article class="art-product">
                    <div class="product">
                        <a href="/product-detail"><img src="/images/juvenil5.png" alt=""></a>
                        <h4>Loveless</h4>
                         <h5>Alice Oseman</h5>
                         <h3 class="product-price">$2300</h3>
                        <a href="/product-cart"><button>Comprar <i class="far fa-shopping-basket"></i></button></a>
                    </div>
                </article>
             </div>
         </section>

     </div>

                                      <!--******LATERAL******-->
     <div id="lateral">
         <section id="novedades" class="box-novedades">
             <div class="novedades">
                 <h4>Recibí las novedades</h4>
            <input id="input-novedades" type="email" name="e-mail" placeholder="Ingresa tu e-mail">
            <button>enviar</button>
             </div>
         </section>



            <section class="publicidad">
                <a href=""><img src="/images/publicidad2.jpg" alt=""></a>
            </section>


        <section id="contacto" class="box-contacto">
            <div class="contacto">
            <h3>Contáctanos</h3>
            <li>
                <input type="text" placeholder="Nombre y Apellido">
            </li>
            <li>
                <input type="email" name="E-mail" id="" placeholder="Email">
            </li>
            <li>
                <input type="tel" name="Teléfono" id="" placeholder="Teléono">
            </li>
            <li>
                <input type="text" name="Localidad" id="" placeholder="Localidad">
            </li>
            <li>
                <textarea name="Dejanos tu mensaje" placeholder= "Dejanos tu mensaje" id="" cols="10" rows="8"></textarea>
            </li>
            
                <button>Enviar</button>
           
            </div>
        </section>

        

        <section id="lanzamiento" class="box-lanzamiento">
            <h3>lanzamiento</h3>
            <div class="lanzamiento-image">
                <a href="/product-cart"><img width="80%" src="/images/lanzamiento.png" alt=""></a>
            </div>
            <div class="lanzamiento-info">
                <h4 class="titulo">
                    El hechizo del agua
                </h4>
                <h4 class="autor">
                    Florencia Bonelli
                </h4>
                <p class="descripcion">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, beatae. Tempora corporis, voluptatum facilis beatae iste eligendi. Minus autem libero vitae totam, ad sunt doloribus.
                </p>
            </div>
        </section>

    </div>

    <section id="banner-bottom" class="box-banner">
        <img width="100%" src="/images/banner3.png" alt="">
    </section> 



        
        
    
    </main>




    <footer>
        <div id="footer-div1">
            <h3>Contacto</h3>
            <li><a href=""><i class="fas fa-map-marker-alt"></i> Gumersindo Parajón 1280</a></li>
            <li><a href=""><i class="fab fa-whatsapp"></i>1234-9876</a></li>
        </div>
        <div id="footer-div2">
            <li><a href=""></a>Atención al cliente</li>
            <li><a href=""></a>Devoluciones</li>
            <li><a href=""></a>Cancelaciones</li>
            <li><a href=""></a>Preguntas frecuentes</li>
        </div>
        
        
    </footer>
</body>
</html>