<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {
        title : 'login'
    }) %> 
<body class="body-login">
   
    <%- include('./partials/header') %> 


    <!-- formulario -->
    <main class="login-design">
        
        
        <div class="login__container">
            <div class="login-info-container">

                <h2>Iniciar Sesión</h2>
                <form action="" class="inputs-container">
                    <p class="p-input">Tu email</p>
                    <input type="text" class="input" name="email-log" id="email-log">
                    <p class="p-input">Tu contraseña</p>
                    <input type="password" class="input" name="password-log" id="password-log">
                    <div class="terminoss">
                        <input type="checkbox" name="terminos-log" id="terminos-log">
                     <label for="terminos">Mantener mi sesión abierta</label> 
                     </div>
                     <div class="buttons">
                    <button><a href="/">Iniciar Sesión</a></button>
                    <button><a href="/register">Registrate</a></button>
                     </div>
                    
               

                <div class="footer-login">
                   

                    <a href="/password"><p>¿Olvidaste tu contraseña?</p></a>
                </div>
 </form>
            </div>
        </div>
        
        <div class="background">
            <img src="/images/login-noe.jpg" alt="biblioteca" class="toy1">
        </div>
    </main>
   

    <%- include('./partials/footer') %> 
  
</body>

</html>