<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title : 'Carrito|Librería'}) %>

<body class="carrito">

    <%- include('./partials/header') %>
    
   <div class="contenedor-principalCarrito">
       <h1>Carrito</h1>
       <div class="contenedor-cajas">
           <div class="contenedor-ventas">
               <div class="caja">
                   <img src="/images/product-1.jpg" alt="">
                   <div class="caja-contenido">
                       <h3>Harry Potter y la piedra filosofal</h3>
                       <h4>Precio: $500</h4>
                       <p class="unit">Cantidad: <input type="number" min="0" value="1"></p>
                       <p class="button">
                           <i class="fa fa-trash"></i>
                           <span class="button-2">Remover</span>
                       </p>
                   </div>
               </div>
               <div class="caja">
                <img src="/images/product-2.jpg" alt="">
                <div class="caja-contenido">
                    <h3>Harry Potter y la piedra filosofal</h3>
                    <h4>Precio: $500</h4>
                    <p class="unit">Cantidad: <input type="number" min="0" value="2"></p>
                    <p class="button">
                        <i class="fa fa-trash"></i>
                        <span class="button-2">Remover</span>
                    </p>
                </div>
            </div>
            <div class="caja">
                <img src="/images/product-3.jpg" alt="">
                <div class="caja-contenido">
                    <h3>Harry Potter y la piedra filosofal</h3>
                    <h4>Precio: $500</h4>
                    <p class="unit">Cantidad: <input type="number" min="0" value="1"></p>
                    <p class="button">
                        <i class="fa fa-trash"></i>
                        <span class="button-2">Remover</span>
                    </p>
                </div>
            </div>
           </div>
           <div class="right-caja">
               <p><span>Subtotal</span> <span>$2.000</span></p>
               <hr>
               <p><span>Envio</span> <span>$200</span></p>
               <hr>
               <p><span>Total</span> <span>$2.200</span></p>

               <a href="#"><i class="fa fa-shopping-cart">Comprar</i></a>
           </div>
       </div>
   </div>

   <%- include('./partials/footer') %>
  
</body>

</html>