<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Librebria</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/4174c231cf.js" crossorigin="anonymous"></script>
</head>
</head>
<body class="login">
    <main>
        <section>
            <h1>Bienvenido</h1>
            <h2>Ingresa</h2>
            <form>
                <article>
                    <div class="login-menu">
                        <label class="label_nombre" for="nombre">Nombre</label>
                      <input class="login-input" type="text" id="nombre" name="nombre" placeholder="Escribí tu nombre"> 
                    </div>

                    <div class="login-menu">
                        <label class="label_nombre" for="password">Contraseña</label>
                        <input class="login-input" type="password" id="password" name="password" placeholder="Escribí tu contraseña">
                    </div>

                </article>

                <div class="login-menu login-center">
                    <input type="checkbox" name="recordame" id="recordame">
                <label for="recordame">Recordame</label>
                <p class="redireccionLogin" >¿Olvidaste tu contraseña?<a class="link" href="login">Click aca</a></p>
                </div>

                <div class="login-menu login-center">
                    <button type="submit">Ingresar</button>
                    </div>
            </form>
        </section>
    </main>
  
</body>
</html>