<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Librebria</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/4174c231cf.js" crossorigin="anonymous"></script>
</head>
<body class="register">
    <header></header>
    <main>
        <section>
            <h1>Bienvenido</h1>
            <h2>Registrate</h2>
            <form>
                <article>
                    <div class="register-menu">
                        
                        <label class="label_nombre" for="nombre">Nombre</label>
                      <i class="fa-solid fa-lock"></i></span>  <input class="register-input" type="text" id="nombre" name="nombre" placeholder="Escribí tu nombre"> 
                    </div>
    
                    <div class="register-menu">
        
                        <label class="label_nombre" for="email">Email</label>
                        <input class="register-input" type="email" id="email" name="email" placeholder="Escribí tu email"> 
                    </div>
    
                    <div class="register-menu">
                        
                        <label class="label_nombre" for="password">Contraseña</label>
                        <input class="register-input" type="password" id="password" name="password" placeholder="Escribí tu contraseña">
                    </div>
    
                    <div class="register-menu">
                        
                        <label class="label_nombre" for="password2">Repeti tu contraseña</label>
                        <input class="register-input" type="password" id="password" name="password" placeholder="Escribí tu contraseña">
                    </div>
    
                    <div class="register-menu">
                        <label class="label_nombre" for="date">Fecha de nacimiento</label>
                        <input class="register-input" type="date" id="fechaNacimiento" name="fechaNacimiento" placeholder="dd/mm/aaaa" >
                    </div>
                </article>

                <div class="register-menu register-center">
                    <p class="terminosYCondiciones">Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad</p>
                    <input class="" type="checkbox" name="terminos" id="terminos">
                <label for="terminos">Términos y condiciones</label>
                <p class="redireccionLogin" >¿Ya tienes una cuenta?<a class="link" href="login">Iniciar Sesión</a></p>
                </div>

                <div class="register-menu register-center">
                <button type="submit">Registrarme</button>
                </div>
                
            </form>
            
        </section>
    </main>

</body>
</html>