<footer class="footer">
    <div class="footer-div">
         <nav class="footer-menu-container">
          <ul class="menu-footer-lista">
              <li>
                  <h4 class="menu-footer-title">ayuda</h4>
              </li>
              <li class="menu-footer-list-items"><a href="/preguntas-frecuentes">preguntas frecuentes</a></li>
              <li class="menu-footer-list-items"><a href="preguntas-frecuentes#pagos">pagos</a></li>
              <li class="menu-footer-list-items"><a href="preguntas-frecuentes#envios">envíos</a></li>
              <li class="menu-footer-list-items"><a href="preguntas-frecuentes#cambios-devoluciones">cambios y devoluciones</a></li>
          </ul>
          <ul class="menu-footer-lista">
              <li>
                  <h4 class="menu-footer-title">legales</h4>
              </li>
              <li class="menu-footer-list-items"><a class="menu-footer-links" href="/legales">legales</a></li>
              <li class="menu-footer-list-items"><a href="/recursos">trabaja con nosotros</a></li>
              <li class="menu-footer-list-items"><a href="/terminos">términos y condiciones</a></li>
              <li class="menu-footer-list-items"><a href="/privacidad">políticas de privacidad</a></li>
          </ul>
          <ul class="menu-footer-lista">
              <li>
                  <h4 class="menu-footer-title">contactanos</h4>
              </li>
              
              <li class="menu-footer-list-items"><span class="contact-icons"><i class="fab fa-whatsapp"></i></span>11-5897-5897</li>

              <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-map-marker-alt"></i></span>Gumersindo Parajón 1280</li>
              <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-clock"></i></span>09:000hs a 17:00hs.</li>
              <li class="menu-footer-list-items"><span class="contact-icons"><i class="fas fa-envelope"></i></span><a href="#">boulevard@ventas.com</a></li>
          </ul>
      </nav>
      <!-- FOOTER-REDES-SOCIALES -->
      <nav class="rss-container">
          <a class="rss-container-items" href="#"><i class="fab fa-instagram"></i></a>
          <a class="rss-container-items" href="#"><i class="fab fa-facebook-square"></i></a>
          <a class="rss-container-items" href="#"><i class="fab fa-twitter"></i></a>
      </nav>
      <!-- FOOTER-COPYRIGHT -->
      <h5 class="copyright">©Todos los derechos reservados a Boulevard S.A.</h5>
 
    </div>
      </footer>