<footer>
    <div id="footer-div1">
        <h3>Contacto</h3>
        <li><a href=""><i class="fas fa-map-marker-alt"></i> Gumersindo Parajón 1280</a></li>
        <li><a href=""><i class="fab fa-whatsapp"></i>1234-9876</a></li>
    </div>
    <div id="footer-div2">
        <li><a href=""></a>Atención al cliente</li>
        <li><a href=""></a>Devoluciones</li>
        <li><a href=""></a>Cancelaciones</li>
        <li><a href=""></a>Preguntas frecuentes</li>
    </div>
    
    
</footer>