<header class="header">
    <div class="header-logo">
        <a href="/"><img src="/images/logo1.png" alt=""></a>
    </div>
    <div class="register-login">
        <li><a href="/products/productAdd">Añadir productos</a></li>
        <li><a href="/products/productEdit">Editar productos</a></li>
        <li class="register"><a href="/register">Registrarse</a></li>
        <li class="login"><a href="/login">Iniciar Sesión</a></li>
    </div>
    <div class="buscador-menu">
        <nav id="search">
            <input class="input-search" type="text" placeholder="Buscar">
            <a class="header-search"><i class="fas fa-search"></i></a>
        </nav>
        
        <a href="/product-cart"><button class="header-cart"><i class="fa fa-shopping-cart"></i></button></a>
        <a href=""><button class="header-menu"><i class="fas fa-bars"></i></button></a>
        
        
        
    </div>
    
</header>