<footer class="footer">
    <div class="footer-div">
         <nav class="footer-menu-container">
          <ul class="menu-footer-lista">
              <li>
                  <h4 class="menu-footer-title">ayuda</h4>
              </li>
              <li class="menu-footer-list-items"><a href="#">preguntas frecuentes</a></li>
              <li class="menu-footer-list-items"><a href="#">pagos</a></li>
              <li class="menu-footer-list-items"><a href="#">envíos</a></li>
              <li class="menu-footer-list-items"><a href="#">cambios y devoluciones</a></li>
          </ul>
          <ul class="menu-footer-lista">
              <li>
                  <h4 class="menu-footer-title">legales</h4>
              </li>
              <li class="menu-footer-list-items"><a class="menu-footer-links" href="/about">nosotros</a></li>
              <li class="menu-footer-list-items"><a href="/about">trabaja con nosotros</a></li>
              <li class="menu-footer-list-items"><a href="/legal">políticas de privacidad</a></li>
          </ul>
          <ul class="menu-footer-lista">
              <li>
                  <h4 class="menu-footer-title">contactanos</h4>
              </li>
              
              <li class="menu-footer-list-items"><a href="#"><span class="contact-icons"><i class="fab fa-whatsapp"></i>11-5897-5897</span></a></li>
              <li class="menu-footer-list-items"><a href="#"><span class="contact-icons"><i class="fas fa-map-marker-alt"></i>Gumersindo 1280</span></a></li>
              <li class="menu-footer-list-items"><a href="/contact"><span class="contact-icons"><i class="fab fa-whatsapp"></i>comunicate</span></a></li>
              <li class="menu-footer-list-items"><a href="#"><span class="contact-icons"><i class="fas fa-envelope"></i>ventas@boulevard</span></a></li>
          </ul>
      </nav>
      <!-- FOOTER-REDES-SOCIALES -->
      <nav class="rss-container">
          <a class="rss-container-items" href="#"><i class="fab fa-instagram"></i></a>
          <a class="rss-container-items" href="#"><i class="fab fa-facebook-square"></i></a>
          <a class="rss-container-items" href="#"><i class="fab fa-twitter"></i></a>
      </nav>
      <!-- FOOTER-COPYRIGHT -->
      <h5 class="copyright">©Todos los derechos reservados a Boulevard S.A.</h5>
 
    </div>
      </footer>