

<header>
    <nav  id="header">
        <!-- logo -->
    <div class="header-logo">
        <a href="/"><img src="/images/logo1.png" alt=""></a>
    </div>
    <div class="buscador-menu">
        <form id="search-form" action="/result" method="GET">
            <div id="search" class="d-flex">
                <input class="input-search" name="keyword" placeholder="Buscar libros">
                <i class="fas fa-search"></i>
            </div>
        </form>
    </div>

    <div>
        <ul id="navbar">


            <% if (locals.userLogin?.rolId === 1) { %>
                <li><a href="/products/productAdd">Añadir</a></li>

            <% } %>
                <li><a href="/products">Catálogo</a></li>
                <li><a href="/products/categorySearch">Categorias</a></li>
               
            <% if (!locals.userLogin) { %>
                <li class="register"><a href="/users/register">Registrarse</a></li>
                <li class="login"><a href="/users/login">Entrar</a></li>
            <% }else{ %>
                <li><a href="/users/profile/<%= user.id %> "><i class="fa-solid fa-user"></i></a></li>
                <li><a href="/users/logout"><i class="fa-solid fa-door-open"></i></a></li>
                <li><a href="/products/product-cart"><i class="fa-solid fa-shop"></i></a></li>

            <% } %>




        </ul>
    </div>
    <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
   

    </nav>
    

</header>