<header class="header">
    <div class="header-logo">
        <a href="/"><img src="/images/logo1.png" alt=""></a>
    </div>
    <div class="register-login">
        <li><a href="/products/productAdd">Añadir productos</a></li>
        <li><a href="/products/productEdit">Editar productos</a></li>
        <li class="register"><a href="/users/register">Registrarse</a></li>
        <li class="login"><a href="/users/login">Iniciar Sesión</a></li>
    </div>
    <div class="buscador-menu">
        <form id="search-form" action="/result" method="GET">
            <div id="search" class="d-flex">
                <input class="input-search" name="keyword" placeholder="Buscar" >
                <button class="header-search"><i class="fas fa-search"></i></button>
            </div>
        </form>
        
        
        <a href="/products/product-cart"><button class="header-cart"><i class="fa fa-shopping-cart"></i></button></a>
        <a href=""><button class="header-menu"><i class="fas fa-bars"></i></button></a>
        
        
        
    </div>
    
</header>