

 <header class="header">
  
  
    <div class="containerHeader">
        <div class="roww align-items-center justify-content-between">
            <div class="logo">
                <a href="/"><img src="/images/logo1.png" alt=""></a>
            </div>
          
            <button type="button" class="nav-toggler">
               <span></span>
            </button>

            <nav class="nav">
                <div class="buscador-menu">
                    <form id="search-form" action="/result" method="GET">
                        <div id="search" class="d-flex">
                            <input class="input-search" name="keyword">
                            <i class="fas fa-search"></i>
                        </div>
                    </form>
                </div>
               <ul>
                <% if (locals.userLogin?.rolId === 1) { %>
               
                    <li><a href="/users/admin">Admin</a></li>
                <% } %>
                    <li><a href="/products" class="active">Libros</a></li>
                    <li><a href="/products/categorySearch">Categorias</a></li>
                    <li><a href="/newsteller">Novedades</a></li>
                <% if (!locals.userLogin) { %>
                    <li class="register"><a href="/users/register">Registrarse</a></li>
                    <li class="login"><a href="/users/login">Entrar</a></li>
                <% }else{ %>
                    <!-- if user session exist, show profile, exit and cart -->
    
                    <li><a id="user-icon" href="/users/profile/<%= user.id %>"><i class="fa-solid fa-user"></i>
                        <span class="tooltip" id="user-tooltip">Perfil</span>
                    </a></li>
                    <li><a id="logout-icon" href="/users/logout"><i class="fa-solid fa-door-open"></i>
                        <span class="tooltip" id="logout-tooltip">Salir</span></a></li>
                    <li id="btn-cart"><a id="shop-icon"><i class="fa-solid fa-shop"></i>
                        <span class="tooltip" id="shop-tooltip"><button style="background: none;border:none; color:white" data-bs-toggle="modal" data-bs-target="#exampleModal">Compras</button></span></a></li>
                 
                <% } %>
                 
               </ul>
            </nav>
        </div>
    </div>
 </header>
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog  modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Mis favoritos</h5>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
				<table class="table-responsive" id="cart-box">
					<thead>
					  <tr>
						<th scope="col">#</th>
						<th class="m-2" scope="col">Producto</th>
						<th scope="col">Cantidad</th>
						<th scope="col">$</th>
						<th scope="col">Total</th>
					  </tr>
					</thead>
					<tbody id="cart-items">
					
					</tbody>
				  </table>
				<p id="msg-empty" hidden>No tenés productos agregados a favoritos</p>
			
		</div>
		<div class="modal-footer">
			<div id="btn-buy">
				<button id="btn-cart-removeAll" type="button" class="btn btn-danger" value="<%= locals.userLogin && userLogin.order && userLogin.order.id %>">Vaciar todo</button>
				<a href="/payment"><button type="button" class="btn btn-warning">Comprar</button> </a>
			</div>
		<button type="button" class="btn btn-info" data-bs-dismiss="modal">Salir</button>
		</div>
	  </div>
	</div>
  </div>
 <script src="/js/header.js"></script>

